body {
    margin: 0 auto;
    background-image: url(http://i.stack.imgur.com/pMAiU.jpg);
}

h1 {
    font-family: impact;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 2px darkgrey;
}

.game-panels {
    height: 500px;
    width: 500px;
    position: relative;
    margin-left: 455px;
}

#green {
    height: 250px;
    width: 248px;
    background-color: green;
    display: inline-block;
    float: left;
    border-top-left-radius: 250px;
    box-shadow: 2px 2px 2px black;
}

#yellow {
    height: 250px;
    width: 245px;
    background-color: yellow;
    display: inline-block;
    float: left;
    border-bottom-left-radius: 250px;
    box-shadow: 5px 5px 5px black;
}

#red {
    height:  250px;
    width: 245px;
    background-color: red;
    display: inline-block;
    float: right;
    border-top-right-radius: 250px;
    box-shadow: 5px 5px 5px black;
}

#blue {
    height: 250px;
    width: 245px;
    background-color: blue;
    display: inline-block;
    float: right;
    border-bottom-right-radius: 250px;
    box-shadow: 5px 5px 5px black;
}

 #black-center {
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 250px;
    position: absolute;
    margin-left: 125px;
    margin-top: 125px;
 }

#black-vertical-top {
    height: 130px;
    width: 25px;
    background-color: black;
    margin-left: 240px;
    position: absolute;
}

#black-vertical-bottom {
    height: 135px;
    width: 25px;
    background-color: black;
    margin-left: 240px;
    margin-top: 370px;
    position: absolute;
}

#black-horizontal-right {
    height: 25px;
    width: 130px;
    background-color: black;
    margin-left: 370px;
    margin-top: 240px;
    position: absolute;
}

#black-horizontal-left {
    height: 25px;
    width: 130px;
    background-color: black;
    margin-top: 240px;
    position: absolute;
}

h2 {
    position: absolute;
    margin-left: 133px;
    margin-top: 198px;
    color: white;
    font-size: 89px;
    font-family: impact;
}

h3 {
    display: inline;
    font-family: impact;
    font-size: 35px;
    text-shadow: 2px 2px 2px darkgrey;
}

#player1 {
    float: left;
    margin-left: 220px;
    margin-top: 0px;
}

#round {
    text-align: center;
    margin: 0 auto;
    padding-left: 90px;
    float: none;
}

#player2 {
    float: right;
    margin-right: 250px;
    padding-left: 20px;
    margin-top: 0px;
    text-align: right;
}

img {
    height: 50px;
    display: inline;
    position: relative;
    margin-left: 20px;
    margin-bottom: 25px;
}

.player2-hearts {
    float: right;
}

button {
    margin-left: 200px;
    font-size: 30px;
    font-family: impact;
    text-shadow: 2px 2px 2px darkgrey;
    box-shadow: 5px 5px 5px black;
}

.button-positioning {
    float: left;
    display: inline-block;
    height: 50px;
    width: 200px;
}
