body {
    margin: 0 auto;
}

h1 {
    font-family: impact;
    text-align: center;
    font-size: 50px;
}

.game-panels {
    height: 500px;
    width: 500px;
    position: relative;
    margin-left: 455px;
}

#green-panel {
    height: 250px;
    width: 250px;
    background-color: green;
    display: inline-block;
    float: left;
    border-top-left-radius: 250px;
}

#yellow-panel {
    height: 250px;
    width: 250px;
    background-color: yellow;
    display: inline-block;
    float: left;
    border-bottom-left-radius: 250px;
}

#red-panel {
    height:  250px;
    width: 250px;
    background-color: red;
    display: inline-block;
    float: right;
    border-top-right-radius: 250px;
}

#blue-panel {
    height: 250px;
    width: 250px;
    background-color: lightblue;
    display: inline-block;
    float: right;
    border-bottom-right-radius: 250px;
}

 #black-center {
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 250px;
    position: absolute;
    margin-left: 125px;
    margin-top: 125px;
 }

#black-vertical-top {
    height: 130px;
    width: 25px;
    background-color: black;
    margin-left: 240px;
    position: absolute;
}

#black-vertical-bottom {
    height: 130px;
    width: 25px;
    background-color: black;
    margin-left: 240px;
    margin-top: 370px;
    position: absolute;
}

#black-horizontal-right {
    height: 25px;
    width: 130px;
    background-color: black;
    margin-left: 370px;
    margin-top: 240px;
    position: absolute;
}

#black-horizontal-left {
    height: 25px;
    width: 130px;
    background-color: black;
    margin-top: 240px;
    position: absolute;
}

h2 {
    position: absolute;
    margin-left: 133px;
    margin-top: 198px;
    color: white;
    font-size: 89px;
    font-family: impact;
}

h3 {
    display: inline;
    font-family: impact;
    font-size: 35px;
}

#player1 {
    float: left;
    margin-left: 220px;
}

#player2 {
    float: right;
    margin-right: 250px;
    padding-left: 20px;
}

img {
    height: 50px;
    display: inline;
    position: relative;
    margin-top: 32px;
    margin-left: 20px;
 }

.player2-hearts {
    float: right;
}

button {
    margin-left: 35px;
    font-size: 30px;
    font-family: impact;
}

#quit-button {
    float: left;
    display: inline-block;
    height: 50px;
    width: 200px;
}

#pause-button {
    float: left;
    display: inline-block;
    height: 50px;
    width: 200px;
}

#help-button {
    float: left;
    display: inline-block;
    height: 50px;
    width: 200px;
    /*margin-top: -25px;*/
}
